$background-nav:        #CDEBF8;
$background-nav-hover:  #C3E2EF;

$color-text-primary:    #444;
$color-text-secondary:  #777;
$color-heading-primary: #70ad47;
$color-button-text:     #fff;
$color-errors:          #f00;
$color-nav:             #5994BC;
$color-exit:            #aaa;

$border-background: 0.2rem solid #70ad47;
$border-primary:    0.1rem solid #70ad47;
$border-secondary:  0.1rem solid #bbb;
$border-errors:     0.1rem solid #f00;
$border-nav:        0.2rem solid #5994BC;
$border-exit:       0.1rem solid #aaa;

$font-sans-serif: 'Barlow Condensed', sans-serif;

$width-small:  501px;
$width-medium: 769px;
$width-large: 1101px;