/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* base styles */
html {
  font-size: 10px;
}

body {
  color: #444;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
}

.nowrap {
  white-space: nowrap;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-image {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show-title {
  0% {
    left: -500px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

@keyframes show-image {
  from {
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
  }
  to {
    left: 50%;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

@keyframes cover-form {
  from {
    background: none;
    opacity: 1;
  }
  to {
    background: #fff;
    opacity: 0.5;
  }
}

@keyframes move-green {
  from {
    left: 50%;
    top: 50%;
    transform: rotate(360deg) translate(-50%, -50%);
    width: 18rem;
  }
  to {
    left: 12px;
    top: 7px;
    transform: rotate(345deg);
    width: 5.9rem;
  }
}

@keyframes move-orange {
  from {
    left: 50%;
    top: 50%;
    transform: rotate(360deg) translate(-50%, -50%);
    width: 18rem;
  }
  to {
    left: 12px;
    top: calc(100% - 77px - 7px);
    transform: rotate(345deg);
    width: 5.9rem;
  }
}

@keyframes move-blue {
  from {
    left: 50%;
    top: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    width: 18rem;
  }
  to {
    left: calc(100% - 59px - 10px);
    top: 10px;
    transform: rotate(15deg);
    width: 5.9rem;
  }
}

@keyframes move-mustard {
  from {
    left: 50%;
    top: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    width: 18rem;
  }
  to {
    left: calc(100% - 59px - 10px);
    top: calc(100% - 77px - 7px);
    transform: rotate(15deg);
    width: 5.9rem;
  }
}

#nav {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  z-index: 999;
}

#nav.nav-on {
  height: 100%;
}

#nav.nav-off {
  height: 0;
}

#nav ul {
  background: rgba(205, 235, 248, 0.7);
  border-radius: 0.5rem;
  list-style: none;
  margin: auto;
  position: relative;
  width: 27.5rem;
}

@media screen and (min-width: 501px) {
  #nav ul {
    width: 37.5rem;
  }
}

#nav ul.border-on {
  border: 0.2rem solid #5994BC;
}

#nav ul.border-off {
  border: none;
}

#nav ul #exit {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 6px;
  top: 3px;
}

#nav ul #exit.exit-on {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

#nav ul #exit.exit-off {
  background: #fff;
  border: 0.1rem solid #aaa;
  border-radius: 0.3rem;
  color: #aaa;
  left: 50%;
  padding: 0.5rem;
  right: auto;
  transform: translateX(-50%);
}

#nav ul li {
  border-bottom: 0.1rem solid rgba(89, 148, 188, 0.5);
}

#nav ul li:last-child {
  border-bottom: none;
}

#nav ul li a {
  color: #444;
  font-size: 1.8rem;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

#nav ul li a:hover, #nav ul li a.active {
  background: rgba(195, 226, 239, 0.9);
}

.bg {
  align-items: stretch;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/static/img/form_green.png"), url("/static/img/form_blue.png"), url("/static/img/form_mustard.png"), url("/static/img/form_orange.png");
  background-position: 0 0, 0.5rem 0.5rem, calc(100% - 0.5rem) 0.5rem, calc(100% - 0.5rem) calc(100% - 0.5rem), 5px calc(100% - 0.5rem);
  background-repeat: no-repeat;
  background-size: 100% 100%, 6.9rem 8.2rem, 6.9rem 8.2rem, 6.9rem 8.2rem, 6.9rem 8.2rem;
  border: 0.2rem solid #70ad47;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: calc(100vh - 0.4rem);
  max-width: 140rem;
}

@media screen and (min-width: 501px) {
  .bg {
    background-size: auto;
  }
}

.bg .title-wrapper {
  background: rgba(197, 224, 180, 0.5);
  border: 0.5rem solid rgba(128, 182, 91, 0.5);
  border-radius: 0.5rem;
  left: 50%;
  max-width: 50rem;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.bg .title-wrapper h2,
.bg .title-wrapper h3 {
  margin: 1.5rem 0;
}

.bg .title-wrapper h3 {
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left;
}

.bg-home {
  border: 0.2rem solid #70ad47;
  margin: auto;
  min-height: calc(100vh - 0.4rem);
  max-width: 140rem;
  position: relative;
}

.bg-home .title-wrapper {
  animation: show-title 3s 5s forwards;
  background: rgba(197, 224, 180, 0.5);
  border: 0.5rem solid rgba(128, 182, 91, 0.5);
  border-radius: 0.5rem;
  left: -50rem;
  max-width: 50rem;
  opacity: 0;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.bg-home .title-wrapper h2,
.bg-home .title-wrapper h3 {
  margin: 1.5rem 0;
}

.bg-home .title-wrapper a {
  display: inline-block;
  width: 4rem;
  position: relative;
}

.bg-home .title-wrapper a img {
  animation: scale-image 1s 8s infinite;
  transform: scale(1.1);
  width: 100%;
}

.bg-home div.mustard {
  animation: show-image 3s forwards, move-mustard 5s 1s forwards;
  position: absolute;
  z-index: 1;
}

.bg-home div.mustard img {
  display: block;
  width: 100%;
}

.bg-home div.mustard::before {
  animation: cover-form 5s 1s forwards;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.bg-home div.orange {
  animation: show-image 3s forwards, move-orange 5s 1s forwards;
  position: absolute;
  z-index: 2;
}

.bg-home div.orange img {
  display: block;
  width: 100%;
}

.bg-home div.orange::before {
  animation: cover-form 5s 1s forwards;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.bg-home div.blue {
  animation: show-image 3s forwards, move-blue 5s 1s forwards;
  position: absolute;
  z-index: 3;
}

.bg-home div.blue img {
  display: block;
  width: 100%;
}

.bg-home div.blue::before {
  animation: cover-form 5s 1s forwards;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.bg-home div.green {
  animation: show-image 3s forwards, move-green 5s 1s forwards;
  position: absolute;
  z-index: 4;
}

.bg-home div.green img {
  display: block;
  width: 100%;
}

.bg-home div.green::before {
  animation: cover-form 5s 1s forwards;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

/* form styles */
#form {
  border: 0.1rem solid #70ad47;
  border-radius: 0.3rem;
  margin: 15rem 0;
  max-width: 27.5rem;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 501px) {
  #form {
    max-width: 37.5rem;
  }
}

#form h1 {
  color: #70ad47;
  font-size: 3.2rem;
}

#form h2 {
  font-size: 22px;
}

#form p {
  margin-top: 0.5rem;
}

#form > img {
  display: block;
  margin: 0.5rem 0 1rem 0;
  width: 100%;
}

#form hr {
  border: none;
  border-top: 0.1rem solid #70ad47;
  margin: 2.5rem 0;
}

#form .item-image {
  border: 0.1rem solid #bbb;
  border-radius: 0.3rem;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 15rem;
}

#form #errors {
  border: 0.1rem solid #f00;
  color: #f00;
  list-style: none;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
}

#form #errors li:nth-child(n+2) {
  margin-left: 1rem;
}

#form .form-group {
  margin-top: 1.5rem;
}

#form .form-group label {
  display: block;
}

#form .form-group input[type=text],
#form .form-group input[type=password],
#form .form-group textarea,
#form .form-group select {
  border: 0.1rem solid #bbb;
  border-radius: 0.3rem;
  color: #777;
  font: inherit;
  padding: 0.2rem;
  width: 100%;
}

#form .form-group input[type=text]:focus,
#form .form-group input[type=password]:focus,
#form .form-group textarea:focus,
#form .form-group select:focus {
  border: 0.1rem solid #70ad47;
}

#form .form-group textarea {
  height: 8.5rem;
  resize: none;
}

#form .form-group > button {
  background: #70ad47;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
}

#form .form-group > label + div.radio-group {
  margin-top: 0.5rem;
}

#form .form-group .radio-group input[type=radio] {
  display: none;
}

#form .form-group .radio-group input[type=radio]:checked + label .radio-circle span {
  background: #70ad47;
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}

#form .form-group .radio-group label {
  align-items: center;
  display: flex;
}

#form .form-group .radio-group label img {
  max-width: 75%;
}

#form .form-group .radio-group label .radio-circle {
  align-items: center;
  border: 0.1rem solid #bbb;
  border-radius: 50%;
  display: flex;
  height: 1.6rem;
  justify-content: center;
  margin-right: 0.5rem;
  width: 1.6rem;
}

#form .form-group .file-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#form .form-group .file-group input[type=file] {
  display: none;
}

#form .form-group .file-group input[type=text] {
  margin-right: 0.5rem;
}

#form .form-group .file-group button {
  border: none;
  color: #70ad47;
  cursor: pointer;
  font-size: 2.8rem;
}

/* form styles */
#table {
  border-collapse: collapse;
  margin: 15rem 0;
  width: 95%;
}

@media screen and (min-width: 501px) {
  #table {
    width: 90%;
  }
}

#table caption {
  color: #70ad47;
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

#table caption .caption-wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

#table caption .caption-wrapper h1 {
  font-size: inherit;
}

#table caption .caption-wrapper a {
  color: inherit;
  font-size: 1.6rem;
}

#table td, #table th {
  border: 0.1rem solid #70ad47;
  padding: 0.2rem;
}

#table tbody td:first-child {
  width: 50%;
}

@media screen and (min-width: 769px) {
  #table tbody td:first-child {
    width: 33.33%;
  }
}

#table tbody td:nth-child(n+2) {
  text-align: center;
  width: 25%;
}

@media screen and (min-width: 769px) {
  #table tbody td:nth-child(n+2) {
    width: 33.33%;
  }
}

#table tbody td a {
  color: inherit;
  display: inline-block;
  margin-right: 0.5rem;
}

#table tbody td a:last-child {
  margin-right: 0;
}

#table tbody td a.disabled {
  color: rgba(68, 68, 68, 0.3);
  cursor: not-allowed;
}

#table tfoot #form {
  display: none;
}

#table tfoot td {
  border: none;
}

#table tfoot td a {
  color: #70ad47;
  display: inline-block;
  margin-right: 0.5rem;
}

#table tfoot td a:last-child {
  margin-right: 0;
}

#table tfoot td a.active {
  text-decoration: none;
}
