{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Form Builder</title>	
	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="fadeIn">
	{% if request.session.user == 'admin' %}
	{% include 'nav.html' %}
	{% endif %}
	<div class="bg{% if isHome %}-home{% endif %}">
		{% block content %}
		{% endblock %}
	</div>
	
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>